<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rong.realestateqq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:theme="@style/Theme" >
        <activity
            android:name="com.rong.realestateqq.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PushReceiverActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- for parse -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <!-- for umeng -->
        <service android:name="com.umeng.common.net.DownloadingService" 
            	 android:exported="true" 
            	 android:process=":DownloadingService">
        </service> 
        <activity android:name="com.umeng.fb.ConversationActivity"/> 
        <activity android:name="com.umeng.fb.ContactActivity"/> 
        
        <meta-data 
            android:name="UMENG_APPKEY" 
            android:value="51e3c69056240b3414110d56">
        </meta-data>

        <meta-data android:name="UMENG_CHANNEL" android:value="test" > </meta-data>
    </application>

</manifest>